.categories-container
 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;  /* space between cards */
    flex-wrap: wrap; /* allow wrap on smaller screens */
    margin: 0px;
    padding: 0px;
    background-color: darkgreen;
    margin-top:30px;
    margin-bottom:30px;
}

.category-card {
    background-color: darkgreen;
    border: 5px solid white;
    border-radius: 20px;
    width: 400px;
    text-align: center;
    padding: 30px;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-top:30px;
    margin-bottom:30px;
    
}

.category-card h3 {
    font-size: 28px;
    color: white;
    margin-bottom: 15px;
}

.category-card p {
    font-size: 18px;
    color: white;
    line-height: 1.6;
}

.category-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(48, 252, 21, 0.356);
}
