form
{
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    margin-left:25% ;
    padding:50px;
    border: 1px solid green;
    margin-bottom:50px;

}
form label
{
    margin-top: 4px;
    font-weight: bold;
    color:black;
}
form input, form select, form textarea
{
    margin-top: 3px;
    padding: 8px;
    border: 1px solid green;
    border-radius: 4px;
    font-size: 14px;
    width:50%;
    background-color:lightgreen;
    color: white;
}
form button
{
    margin-top: 80px;
    padding: 10px;
    background-color: darkgreen;
    color:white ;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    width:20%;
     
}
form button:hover
{
    background-color: grey;
}
.success-message
{
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size:40px;
}
.error-message
{
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size:40px;
}
.styling
{
    text-align: center;
    margin-top: 15px;
    border:solid;
    border-width:10px;
    padding:50px;
    width:900px;
    border-radius:30px;
    background-color:#f5f5d4;
}
.container
{
    display:flex;
    justify-content:center;
    align-items:center;
}
.form-row label 
{
    display: block;       /* ensures label is above input */
    margin-bottom: 2px;   /* small gap between label and input */
      /* aligns text to the left */
      margin-right:70%
}

.form-row input {
    margin-top:2px; 
    margin-bottom: 60px;
           /* removes extra top margin */
     
}
.error-msg {
            color: red;
            font-size: 20px;
            margin-top: 3px;
            display: block;
        }
        