:root 
{ --primary-color:darkgreen;
  /*black header*/
   --secondary-color:#000000a8;
   /*background of body*/
    --background: #f5f5d4; 
    --text-color:#1F2933;
    /*text color black*/
     --accent-color:#f5f5d4;
     /*accent color white*/
      --font-family:"Times New Roman", serif;
      /*font family Times New Roman*/ 
}
* { 
 margin: 0px; 
padding: 0px;
box-sizing: border-box; 
font-size: 20px;
color: black;
font-family: "Times New Roman", serif; 
 
} 
.header 
{ 
  width:100%;
  background-color: darkgreen; 
  display:flex; 
  justify-content:space-between;
  align-items:center; 
  padding:0px 30px;
  color:#f5f5d4;
  height: 150px; 
  } 
  .footer 
  { 
    text-align:center; 
    background-color:darkgreen;
    color:#f5f5d4; 
    padding:15px;
  } 
  body 
  {
  font-family:var(--font-family);
  line-height:1.6; 
  margin:0px; 
  padding:0px;
  color:black;
  background-color:#f5f5d4; 
  } 
  .logo img 
  { 
    width:50%;
    height:auto;
    border:solid; 
    border-color:white 4px;
    border-radius: 50%;
  }
  .hover-img
  {
    width: 600px; 
    height: 400px; 
    border-radius: 10px; 
    transition: all 0.4s ease; 
  } /* Hover effect */
  .hover-img:hover 
  { transform: scale(1.05);
  /* zoom effect */
                           
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  } 
  .navbar a 
  { 
    color:#f5f5d4;
    text-decoration:none;
    margin-left:20px; 
    font-weight:bold; 
     font-size:25px;
   } 
.navbar a:hover 
{
   color:lightgreen;
   } 
 .footer-content 
    { 
      display:flex;
 justify-content:space-around; 
  align-items:center; 
  } 
  .footer-links 
   { 
    display: flex;
 flex-direction: column;
   /* makes vertical/column */
   gap: 8px; 
   /* space between links */ 
  } 
  .footer-links a 
  { color:#f5f5d4;
     text-decoration:none;
  }
  .footer-links a:hover
   { 
    color:var(--accent-color); 
  } 
.footer-contact
{
     display: flex;
      flex-direction: column;
      /* vertical, agar horizontal chahen to row kar do */
      gap: 10px; 
      /* spacing between items */ 
} 
.contact-item 
{ 
  display: flex; 
  align-items: center;
  gap: 10px;      /* spacing between icon and text */ 
  font-size: 16px;
  } 
.icon
{
width: 20px; 
height: 20px;
}
.footer-content
{
flex-wrap: wrap;
/* allows wrapping on smaller screens */
display:flex; 
justify-content:space-around; 
align-items:center;
}
.content 
{ 
display:inline-flex; 
justify-content: space-between; 
align-items: flex-start; 
margin: 50px;
padding:50px; 
text-align: left;
background-color: #f5f5d4; 
color:black 
} 
.hero-section 
{ 
  background-color:darkgreen;
   color: black; 
   text-align:center;
    padding:10px,5px;
     font-family:"Times New Roman", serif; 
    } 
.hero-section h1
 { 
  font-size:50px;
  font-weight:bold; 
  margin-bottom:20px;
   color:#f5f5d4;
   } 
.hero-section .tagline 
   { font-size: 30px;
     margin-bottom: 40px;
     color:white
     } 
.hero-buttons 
{ display: flex;
   justify-content: center;
    flex-wrap: wrap;
     gap: 20px;
      /* space between buttons */ 
    } 
.hero-btn 
{ display: inline-block;
   background-color: white;
   /* semi-black with opacity */ 
   color: darkgreen; 
   text-decoration: none;
    padding: 20px 40px; 
    font-size: 18px; 
    border-radius: 5px; 
    transition: background-color 0.3s;
     gap: 20px; margin-bottom: 100px;
     }
.hero-btn:hover 
{ 
  background-color:lightgrey;
   /* hover effect */
   } 
   .work 
   { display:inline-flex;
     justify-content:space-around;
      align-items:center; 
      margin:30px;
       padding:30px;
        text-align:center;
         margin-left: 15%;
          background-color:darkgreen;
           color:black
           }