body {
    background: white;
    font-family: Arial, sans-serif;
}

.dashboard-container
 {
    width: 100%;
     
}

/* Welcome */
.welcome-text {
    color: green;
    font-size: 26px;
    margin-top: 20px;
    text-align: center;
}

/* Hero Section */
.hero-box 
{ 
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 0px 8px #ccc;
}

.hero-box h1 
{
    font-size: 35px;
    margin-bottom: 10px;
}

/* Partner Options cards */
.partner-options {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;
}

.option-card {
    width: 48%;
     
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px  black;
    margin-bottom: 20px;
}

.option-card h3 {
    margin-bottom: 10px;
    color: green;
}

.option-card ul {
    margin-top: 10px;
}

.option-card li {
    margin: 5px 0;
}

/* Apply Button */
.apply-section {
    text-align: center;
    margin: 40px 0;
}

.apply-btn {
    padding: 14px 30px;
    background: green;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 20px;
}

.apply-btn:hover {
    background: darkgreen;
}

/* Partners List */
.partners-heading {
    text-align: center;
    margin-top: 40px;
}

.partners-list {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px 0;
}

.partner-card {
    background: green;
    padding: 20px;
    min-width: 250px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 8px white;
}

.type-tag {
    font-size: 14px;
    background: white;
    color: black;
    padding: 5px 10px;
    border-radius: 6px;
}

.approved-badge {
    display: inline-block;
    margin-top: 10px;
    color: black;
    font-weight: bold;
}

.no-partners {
    font-size: 18px;
    color:black;
    text-align: center;
    margin-left:45%
}
